<h1>Extracting the table from Wikipedia page to Dataframe</h1>

<h4>Import the necessary packages and modules</h4>

In [1]:
import pandas as pd
import requests
! pip install BeautifulSoup4
from bs4 import BeautifulSoup
! pip install tabulate
from tabulate import tabulate
! pip install lxml

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0)
Requirement already satisfied: tabulate in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.8.7)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)

<h4>Using BeautifulSoup I have extracted the table from the specified url and saved it in the dataframe "df1" </h4>

In [61]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df1 = pd.read_html(str(table))[0]

In [62]:
df1

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

<h4>Now, from df1 I have removed all the rows where Borough='Not assigned' and saved it in a new dataframe df</h4>

In [63]:
df = df1[~df1.Borough.str.contains("Not assigned")]

In [78]:
#reseting the previous index after removal of certain rows
df = df.reset_index(drop=True)

<h4> using isnull I am checking to see if there are any Null values in neighborhood column</h4>

In [79]:
bool_series = pd.isnull(df["Neighborhood"]) 
df[bool_series]
#from output we can observe that there are no such values

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

<h4>Replacing "/" with "," in Neighborhood column</h4>

In [72]:
df['Neighborhood'] = df['Neighborhood'].str.replace('/',',')
df

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing Centre
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

In [75]:
#checking to see if there are any redundant Postal codes so that we can merge them
df['Postal code'].value_counts()

M4G    1
M4M    1
M1L    1
M1W    1
M1K    1
      ..
M2L    1
M6H    1
M6N    1
M3L    1
M9A    1
Name: Postal code, Length: 103, dtype: int64

In [76]:
df.shape

(103, 3)